@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
body{
    line-height: 1.8;
}

body,
.info-profile label,
#shopping-cart-table .cart-price .price,
.footer a, .footer p,
ul.shop-more li,
.header-container .login,
.data-table th,
.header-container .signup,
.product-view .short-description,
.box-category > ul > li ul > li > a,
.side-nav-categories ul li a {
    font-size: 14px;
}
.block-list-profile .item a {
    font-size: 16px;
}
.data-table thead th {
    font-weight: normal;
}
#shopping-cart-table h4 {
    font-size: 14px;
    font-weight: normal;
}

#nav > li > a{
    font-size: 13px;
    padding: 7px 0px 5px;
}
#recently-viewed-items.block-list-profile li {
    padding: 12px 5px !important;
}
#nav > li > a > span{
    padding: 0 12px;
}

strong {
    font-weight: 500;
}

#search_mini_form {
    display: flex;
    justify-content: flex-end;
}

#search_mini_form input {
    flex: 1;
}
.header-container {
    background: #2682d2;
}
.logo-lg {
    width: 100%;
    height: auto;
}

.logo-sm {
    width: 100px;
    height: auto;
    transform: translateY(3px);
}
.header-middle {
    height: 100px;
}
.mini-cart .basket .cart-box #cart-total {
    background: #f23534;
}
li.parent > a i {float: right;margin-top: 3px;}

.search-btn-bg {
    background-color: #0565b8;
    border: 1px solid #0565b8;
}
.header-container .login a {
    color: #fdd835;
}
.top-cart-content {
    top: 30px;
}
#main-categories .item-title {
    padding: 8px;
    white-space: unset;
    overflow: auto;
}

#main-categories .item-title a {
    white-space: normal;
    font-size: 14px;
}
.body,
.page,
.main-container,
#shopping-cart-table,
.block-poll,
.product-collateral{
    background-color: #f5f5f5;
}
#main-categories .col-item {
    background: #fff;
}

#main-categories .col-item img {
    width: 90px;
    height: 90px;
}

#main-categories .images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.list-cate {
    display: flex;
}

.list-cate > div {
    flex: 1;
    margin-right: 4px;
}

.list-cate > div:last-child {
    margin: 0;
}

.title-cate {
    background: #fff;
    margin-bottom: 4px;
}
.border-title-top {
    border-top: 3px solid #2682d2;
}
.text-blue{
    color: #2682d2 !important;
}
.footer-logo img {
    width: 200px;
}
.new_title.center {
    border-bottom: 2px #2682d2 solid;
}
.text-white{
    color: #fff !important;
}
.select-custom {
    font-size: 12px;
    width: 100px;
    padding: 5px;
    height: 28px;
}
.range-price {
    display: flex;
    justify-content: space-around;
}

.range-price input {
    width: calc(50% - 5px);
}
input.input-text{
    color: #424242;
}
#shopping-cart-table .product-image img {
    width: 75px;
    height: auto;
}
.bg-white {
    background-color: #fff !important;
}
.bg-blue{
    background-color: #2682d2;
}
.cart-main {
    background-color: #fff;
}
.actions .actions-inner button.button.btn-cart{
    border: none;
}
.range-price__item {
    border: 1.5px solid #2682d2;
    border-radius: 2px;
    padding: 3px 20px;
    text-align: center;
    cursor: pointer;
}

.range-price__item:hover {
    background: #2682d2;
    transition: 0.3s ease-in-out;
}

.range-price__item:hover span {
    color: #fff !important;
}
.select-custom__115{
    width: 115px !important;
}
.input_height{
    height: 28px;
}
.filter-shop-head > div {
    width: calc(100% / 3);
}
.form-no-border {
    border: none !important;
    box-shadow: none;
    border-radius: 0;
}

.form-no-border:focus {
    background: none;
    box-shadow: none;
    border: none;
}
.border-bottom{
    border-bottom: 1px solid #2682d2 !important;
}
.btn-base {
    background-color: #2682d2;
    border: 1px #2682d2 solid;
    color: #fff;
}
.commentlist li .comment-wrapper {
    margin-bottom: 10px !important;
}
.comment-wrapper {
    display: flex;
    justify-content: space-between;
}

.comment-wrapper .detail-by {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}

.comment-wrapper .detail-by .price {
    font-size: 16px;
    font-weight: bold;
}
.account-login .form-list input.input-text {
    width: 100%;
}
.list-shop .blog-img img {
    width: 100%;
    height: auto;
}
.list-shop .title {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}
.breadcrumbs {
    background-color: #fff;
}
.shop-info .img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
}

.shop-info .img img {
    width: 100%;
    height: auto;
}

.shop-info {
    display: flex;
}

.shop-info .ratings {
    margin: 0 0 8px 0!important;
}

.shop-info .info {
    padding-left: 10px;
}

.shop-info .ratings .rating-box {
    margin: 0 !important;
}

.shop-info .ratings > * {
    margin-left: 4px;
}
ul.shop-more li {
    margin-bottom: 15px;
}

ul.shop-more {
    padding-top: 10px;
}
.tab-shop {
    border-top: 3px solid #2682d2;
}

.tab-shop.nav-tabs > li.active > a, .tab-shop.nav-tabs > li.active > a:hover, .tab-shop.nav-tabs > li.active > a:focus {
    background: transparent;
    color: #2682d2;
    border: none;
}
.shield-buy {
    font-size: 10px;
    color: #40a942;
}
#list-shop .blog-img {
    height: 200px;
    overflow: hidden;
}
.cmt-img-user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.cmt-img-user img {
    width: 100%;
    height: auto;
}

.box-cmt li {
    display: flex;
    border-left: 1px solid #DFDFDF;
    padding-left: 10px;
}

.box-cmt .review {
    border: none !important;
    padding-left: 15px;
}
.header .profile img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: translateY(-4px);
}

.header .profile a {
    display: flex;
}
.header .profile a span {
    padding-left: 5px;
    color: #fff;
}
.cart-header {
    position: relative;
}

.cart-header #cart-total {
    position: absolute;
    background: #ff3433;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 16px;
    font-size: 10px;
    top: -9px;
    right: 10px;
    text-align: center;
}

.header .icon-cart:before {
    color: #fff;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
    width: 100%;
    height: auto;
}

.file-upload {
    display: none !important;
}
.circle-profile {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid rgb(234 234 234 / 70%);
    margin-top: 15px;
    margin-bottom: 10px;
}
.p-image {
    padding-left: 10px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}
.upload-button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.p-image button {
    position: relative;
}
.block-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.block-img .img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.block-img img {
    width: 100%;
}
.block-img label {
    padding-left: 5px;
}
.block-list-profile .item.active a{
    color: #2682d2;
}
.line-height-normal{
    line-height: initial !important;
}
.breadcrumbs {
    font-size: 12px;
    padding: 10px 0px;
}
.side-nav-categories ul li a {
    font-weight: 500 !important;
}
.box-category > ul > li ul > li > a {
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.store-address{
    font-size: 12px;
}
button.button.btn-proceed-checkout {
    padding: 2px 5px;
}
.button.btn-proceed-checkout span {
    font-size: 15px;
}
.account-login .form-list input.input-text{
    padding: 5px;
}
.seen-all{
    font-size: 12px;
}
.notification-list__item {
    display: flex;
    margin-bottom: 15px;
}
.notification-content h4 {
    margin-bottom: 0px;
}
.notification-list__item .img {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.notification-list__item .img img {
    width: 100%;
    height: auto;
}

.notification-view {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-list__item.active {
    background: whitesmoke;
}

.notification-content {
    flex: 1;
    padding: 0 10px;
}
.notification-list {
    background: #fff;
    padding: 8px;
}
.chat-list-user-item {
    display: flex;
    padding: 13px 8px;
    cursor: pointer;
    transition: 0.3s;
}
.chat-list-user-item:hover {
    background-color: whitesmoke;
}
.chat-list-user-item .img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.chat-list-user-item .img img {
    width: 100%;
    height: auto;
}

.chat-list-user-item .info .name {
    margin-bottom: 0;
    font-weight: 500;
}

.chat-list-user-item .info .info-chat {
    display: flex;
}
.info-chat .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    text-transform: inherit;
}

.info-chat .time {
    width: 50px;
    text-align: right;
}

.chat-list-user-item .info {
    flex: 1;
    width: calc(100% - 50px);
    padding-left: 10px;
}
#chat-shop {
    background-color: #fff;
}
.chat-search h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}

.chat-list-user {
    margin-top: 20px;
}

.chat-list-user-item.active {
    background-color: whitesmoke;
}
input#search_chat {
    width: 100%;
    padding: 3px 5px;
}
.chat-header {
    padding: 11px;
    border-bottom: 1px solid #ccc;
    display: flex;
    height: 103px;
}

.chat-header .avt-chat {
    width: 80px;
    height: 80px;
    overflow: hidden;
}

.chat-header .avt-chat img {
    width: 100%;
    height: auto;
}

.info-user {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-info {
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

#chat-shop {
    height: calc(100vh - 130px);
    overflow: hidden;
}
.chat-left {
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.chat-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.list-sms__item .sms {
    width: fit-content;
}

.list-sms__item .sms .content {
    margin-bottom: 0;
    line-height: 15px;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 500;
}

.list-sms__item .sms {
    padding: 5px;
}

.chat-left .sms .content {background: whitesmoke;}

.chat-right .sms .content {
    background: #c6ddf8;
}
.chat-cart {
    position: relative;
    height: calc(100% - 103px);
}
.mess-chat {
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 43px;
    background: #fff;
    z-index: 9;
}

.mess-chat .select-image {
    width: 45px;
    opacity: 0;
}

.mess-chat .icon i {
    font-size: 22px;
}
.mess-chat .select-file {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.select-file .icon {
    position: absolute;
    margin-top: 4px;
    color: #155e9d;
}

.send-mess {
    width: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: #155e9d;
}

.mess-chat .input-chat {
    flex: 1;
    border: none;
    padding-left: 2px;
}
.mess-chat .input-chat:focus {
    border: none;
    padding-left: 2px;
}

.send-mess:hover {
    background: whitesmoke;
}

.select-file:hover {
    background: whitesmoke;
}
.chat-side-left {
    border-right: 1px solid #ccc;
}
.chart-search__input {
    position: relative;
}

.chart-search__input .icon {
    position: absolute;
    top: 5px;
    left: 7px;
    color: #bebaba;
}

.chart-search__input input {
    padding-left: 25px !important;
    border-radius: 2px;
    background: whitesmoke;
}
.cart-box-head h5 {
    margin: 0;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 2px solid;
}

.cart-box-head h5 span {
    padding-left: 6px;
}
.cart-box-head h5 {
    margin: 0;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 2px solid;
}

.cart-box-head h5 span {
    padding-left: 6px;
}

.chat-side-left .chat-box {
    height: 100%;
    position: relative;
}

.chat-side-left .chat-box .list-sms {
    height: calc(100% - 43px);
}
.scroll-custom{
    overflow-y: scroll;
}

.scroll-custom::-webkit-scrollbar-track,
.scroll-custom::-webkit-scrollbar,
.scroll-custom::-webkit-scrollbar-thumb{
    width: 6px;
    opacity: 0;
}

.scroll-custom:hover::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    opacity: 1;
}

.scroll-custom:hover::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
    opacity: 1;
}

.scroll-custom:hover::-webkit-scrollbar-thumb
{
    background-color: #6f6f6f;
    border-radius: 5px;
    opacity: 1;
}
.scroll-custom-x{
    overflow-x: scroll;
}

.scroll-custom-x::-webkit-scrollbar-track,
.scroll-custom-x::-webkit-scrollbar,
.scroll-custom-x::-webkit-scrollbar-thumb{
    height: 6px;
    opacity: 0;
}

.scroll-custom-x:hover::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    opacity: 1;
}

.scroll-custom-x:hover::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
    opacity: 1;
}

.scroll-custom-x:hover::-webkit-scrollbar-thumb
{
    background-color: #6f6f6f;
    border-radius: 5px;
    opacity: 1;
}
.chat-search {
    height: 75px;
}

.chat-list-user {
    height: calc(100% - 105px);
    overflow-y: scroll;
}
.cart-info {
    display: flex;
    line-height: 17px;
    font-weight: 500;
    text-align: left;
    align-items: center;
    padding: 5px;
}

.cart-info img {
    width: 60px;
    height: auto;
}

.cart-info span {
    padding-left: 8px;
    font-size: 12px;
}

.input-cart-tbl {
    width: 110px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.tbl-cart td {
    text-align: center;
}

.tbl-cart th {
    padding: 6px;
    background: #c6ddf8;
}
.cart-list {
    padding: 15px;
    height: calc(100% - 40px);
}
.tbl-cart{
    background-color: #fff;
    overflow-x: scroll;
}
.input-cart-tbl:focus {
    outline: none;
}
.tbl-cart table {
    min-width: 650px;
}
.cart-box {
    background: whitesmoke;
}
.show-image-select {
    position: absolute;
    width: 100%;
    bottom: 42px;
    z-index: 10;
    border-top: 1px solid #c6c6c6;
    overflow: hidden;
    background: #fff;
    display: flex;
}

.list-sms__item {
    margin-bottom: 10px;
}

.show-image-select .img-item {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
    position: relative;
}
.show-image-select .img-item .close-img{
    position: absolute;
    right: 0;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.cart-bottom {
    height: 245px;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    padding: 0 15px;
}

.cart-list {
    position: relative;
}

.tbl-cart {
    height: calc(100% - 245px);
}
.show-image-select .img-item img {
    width: 100%;
    height: auto;
}
.list-mess-wrapper {
    height: 100%;
    padding-bottom: 50px;
}
.cart-calculator {
    background: #fff;
    padding: 6px;
}

.cart-bottom-footer {
    background: #fff;
    margin-top: 5px;
    padding: 6px;
}
.cart-calculator__item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-weight: 500;
}

.cart-calculator__item strong {
    font-weight: bold;
    font-size: 16px;
}
.new-label {
    border-color: #4CAF50 !important;
    color: #4CAF50 !important;
    background-color: transparent !important;
}

.sale-label {
    width: auto !important;
    padding-left: 5px;
    padding-right: 5px;
    color: #d12631;
}
.slash {
    margin: 0 4px;
}
.actions-head > div {
    float: inherit !important;
    position: inherit;
}

.actions-head {
    display: flex;
    justify-content: flex-end;
}