@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
body{
    line-height: 1.8;
}

body,
.info-profile label,
#shopping-cart-table .cart-price .price,
.footer a, .footer p,
ul.shop-more li,
.header-container .login,
.data-table th,
.header-container .signup,
.product-view .short-description,
.box-category > ul > li ul > li > a,
.account-login .content .form-list label,
.side-nav-categories ul li a {
    font-size: 14px;
}
.block-list-profile .item a {
    font-size: 16px;
}
.data-table thead th {
    font-weight: normal;
}
#shopping-cart-table h4 {
    font-size: 14px;
    font-weight: normal;
}
.btn-success__blue {
    border: 2px solid #2480d0;
    background-color: #2a86d6;
    color: #fff;
}
.setup-content .pager li .button {
    border-radius: 2px;
}
.register-form {
    margin-top: 20px;
}
.qc-thuoc img {
    width: 100%;
}
.slider-items-products .item .item-content{
    text-align: left;
    padding: 5px 8px;
}
.slider-items-products .item {
    transition: .3s out-ease;
    margin-bottom: unset;
}
.slider-items-products .item .col-item{
    margin-bottom: 15px;
    background: #fff;
}
.owl-item .item {
    margin: 0 5px;
}

.new-label {
    background: #fff !important;
}

.slider-items-products .item .col-item:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}
.col-item .info .info-inner .item-title a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
    text-align: left;
    color: rgba(0,0,0,.9);
}
.col-item .info .info-inner .item-title {
    padding: 0 8px;
}

.panel.setup-content {
    border: none !important;
    padding: 10px 0;
}
.actions-head .profile a i {
    margin-top: 4px;
    margin-right: 4px;
    font-size: 13px;
}
.setup-content .pager .button {
    padding: 4px 20px !important;
}
.setup-content .pager li .nextBtn {
    background: #2a86d6;
    color: #fff;
}
.stepwizard .progress-bar-success {
    background: #2a86d6;
}
.register-form .pager {
    display: flex;
    justify-content: center;
}

.register-form .pager li {
    margin-right: 12px;
}
.stepwizard-row.setup-panel p small {
    font-weight: 500;
    color: #454545;
}

.stepwizard-step .btn-circle {
    font-size: 14px;
    line-height: 1.1;
    font-weight: bold;
}
.register-form .input-text {
    background: #fff !important;
}
#nav > li > a{
    font-size: 13px;
}
#recently-viewed-items.block-list-profile li {
    padding: 6px 5px !important;
}
#nav > li > a > span{
    text-transform: capitalize;
    padding: 0;
    font-size: 12px;
}

strong {
    font-weight: 500;
}

#search_mini_form {
    display: flex;
    justify-content: flex-end;
    height: 38px;
    overflow: hidden;
    border-radius: 4px;
}

#search_mini_form input {
    flex: 1;
    height: 100%;
    font-size: 14px;
    padding-left: 16px;
}
.header-container {
    background: linear-gradient(-180deg,#0a64b4,#318dde);
}
.logo-lg {
    width: 100%;
    height: auto;
}

.logo-sm {
    width: 100px;
    height: auto;
    transform: translateY(3px);
}
.header-middle {
    height: 100px;
}
.mini-cart .basket .cart-box #cart-total {
    background: #f23534;
}
li.parent > a i {float: right;margin-top: 3px;}

.search-btn-bg {
    background-color: #116cbc;
    border: 1px solid #116cbc;
    border: 0;
    height: 34px;
    padding: 0;
    width: 49px;
    margin: 2px;
    border-radius: 3px;
    font-size: 14px;
}
.header-container .login a {
    color: #fdd835;
}
.top-cart-content {
    top: 30px;
}
#main-categories .item-title {
    padding: 8px;
    white-space: unset;
    overflow: auto;
}

#main-categories .item-title a {
    white-space: normal;
    font-size: 14px;
    text-align: center;
}
.body,
.page,
.main-container,
#shopping-cart-table,
.block-poll,
.product-collateral{
    background-color: #f5f5f5;
}
#main-categories .col-item {
    background: #fff;
}

#main-categories .col-item img {
    width: 90px;
    height: 90px;
}

#main-categories .images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.list-cate {
    display: flex;
    flex-wrap: wrap;
}

.list-cate > div {
    border: 2px solid whitesmoke;
    width: calc(100% / 6);
}

.list-cate > div:last-child {
    margin: 0;
}

.title-cate {
    background: #fff;
    margin-bottom: 4px;
}
.border-title-top {
    border-top: 3px solid #2682d2;
}
.text-blue{
    color: #2682d2 !important;
}
.footer-logo img {
    width: 200px;
}
.new_title.center {
    border-top: 3.5px #2682d2 solid;
    background: #fff;
    align-items: center;
    padding: 0 8px;
}
.text-white{
    color: #fff !important;
}
.select-custom {
    font-size: 13px;
    width: 100px;
    padding: 5px;
    height: 28px;
}
.range-price {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.range-price__item p{
    margin: 0;
    line-height: 15px;
    font-size: 12px;
}
.range-price__item strong{
}
.range-price input {
    width: calc(50% - 5px);
}
input.input-text{
    color: #424242;
}
#shopping-cart-table .product-image img {
    width: 75px;
    height: auto;
}
.bg-white {
    background-color: #fff !important;
}
.bg-blue{
    background-color: #2682d2;
}
.cart-main {
    background-color: #fff;
}
.actions .actions-inner button.button.btn-cart{
    border: none;
}
.range-price__item {
    border: 1.5px solid #ccc;
    border-radius: 2px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    width: calc(100% / 4);
    margin-right: 10px;
    line-height: 17px;
}

.range-price__item:hover {
    background: #2682d2;
    transition: 0.3s ease-in-out;
    color: #fff;
}

.range-price__item:hover span {
    color: #fff !important;
}
.select-custom__115{
    width: 125px !important;
}
.input_height{
    height: 28px;
}
.filter-shop-head > div {
    width: calc(100% / 3);
}
.form-no-border {
    border: none !important;
    box-shadow: none;
    border-radius: 0;
}

.form-no-border:focus {
    background: none;
    box-shadow: none;
    border: none;
}
.border-bottom{
    border-bottom: 1px solid #2682d2 !important;
}
.btn-base {
    background-color: #2682d2;
    border: 1px #2682d2 solid;
    color: #fff;
}
.commentlist li .comment-wrapper {
    margin-bottom: 10px !important;
}
.comment-wrapper {
    display: flex;
    justify-content: space-between;
}

.comment-wrapper .detail-by {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}

.comment-wrapper .detail-by .price {
    font-size: 16px;
    font-weight: bold;
}
.account-login .form-list input.input-text {
    width: 100%;
}
.list-shop .blog-img img {
    width: 100%;
    height: auto;
}
.list-shop .title {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
}
.breadcrumbs {
    background-color: #fff;
}
.shop-info .img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
}

.shop-info .img img {
    width: 100%;
    height: auto;
}

.shop-info {
    display: flex;
}

.shop-info .ratings {
    margin: 0 0 8px 0!important;
}

.shop-info .info {
    padding-left: 10px;
}

.shop-info .ratings .rating-box {
    margin: 0 !important;
}

.shop-info .ratings > * {
    margin-left: 4px;
}
ul.shop-more li {
    margin-bottom: 15px;
}

ul.shop-more {
    padding-top: 10px;
}
.tab-shop {
    border-top: 3px solid #2682d2;
}

.tab-shop.nav-tabs > li.active > a, .tab-shop.nav-tabs > li.active > a:hover, .tab-shop.nav-tabs > li.active > a:focus {
    background: transparent;
    color: #2682d2;
    border: none;
}
.shield-buy {
    font-size: 10px;
    color: #40a942;
}
#list-shop .blog-img {
    height: 200px;
    overflow: hidden;
}
.cmt-img-user {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.cmt-img-user img {
    width: 100%;
    height: auto;
}

.box-cmt li {
    display: flex;
    padding-left: 10px;
}

.box-cmt .review {
    border: none !important;
    padding-left: 15px;
}
.header .profile img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transform: translateY(-4px);
}

.header .profile a {
    display: flex;
}
.header .profile a span {
    padding-left: 5px;
    color: #fff;
}
.cart-header {
    position: relative;
}

.cart-header #cart-total {
    position: absolute;
    background: #ff3433;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 16px;
    font-size: 10px;
    top: -9px;
    right: 10px;
    text-align: center;
}

.header .icon-cart:before {
    color: #fff;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
    width: 100%;
    height: auto;
}

.file-upload {
    display: none !important;
}
.circle-profile {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 8px solid rgb(234 234 234 / 70%);
    margin-top: 15px;
    margin-bottom: 10px;
}
.p-image {
    padding-left: 10px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
}
.upload-button {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.p-image button {
    position: relative;
}
.block-img {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 12px;
}
.block-img .img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.block-img img {
    width: 100%;
}
.block-img label {
    padding-left: 5px;
    margin-left: 12px;
}
.block-list-profile .item.active a{
    color: #2682d2;
}
.line-height-normal{
    line-height: initial !important;
}
.breadcrumbs {
    font-size: 12px;
    padding: 10px 0px;
}
.side-nav-categories ul li a {
    font-weight: 500 !important;
}
.box-category > ul > li ul > li > a {
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.store-address{
    font-size: 12px;
}
button.button.btn-proceed-checkout {
    padding: 2px 5px;
}
.button.btn-proceed-checkout span {
    font-size: 15px;
}
.account-login .form-list input.input-text{
    padding: 5px;
}
.seen-all{
    font-size: 12px;
    color: #337ab7;
}
.notification-list__item {
    display: flex;
    margin-bottom: 15px;
}
.notification-content h4 {
    margin-bottom: 0px;
}
.notification-list__item .img {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.notification-list__item .img img {
    width: 100%;
    height: auto;
}

.notification-view {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-list__item.active {
    background: whitesmoke;
}

.notification-content {
    flex: 1;
    padding: 0 10px;
}
.notification-list {
    background: #fff;
    padding: 8px;
}
.chat-list-user-item {
    display: flex;
    padding: 13px 8px;
    cursor: pointer;
    transition: 0.3s;
}
.chat-list-user-item:hover {
    background-color: whitesmoke;
}
.chat-list-user-item .img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.chat-list-user-item .img img {
    width: 100%;
    height: auto;
}

.chat-list-user-item .info .name {
    margin-bottom: 0;
    font-weight: 500;
}

.chat-list-user-item .info .info-chat {
    display: flex;
}
.info-chat .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    text-transform: inherit;
}

.info-chat .time {
    width: 50px;
    text-align: right;
}

.chat-list-user-item .info {
    flex: 1;
    width: calc(100% - 50px);
    padding-left: 10px;
}
#chat-shop {
    background-color: #fff;
}
.chat-search h3 {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
}
.header-shop__logo img {
    width: 255px;
}

.header-shop {
    height: 60px;
}

.chat-list-user-item.active {
    background-color: whitesmoke;
}
input#search_chat {
    width: 100%;
    padding: 3px 5px;
}
.chat-header {
    padding: 4px;
    border-bottom: 1px solid #ccc;
    display: flex;
    height: 70px;
}

.chat-header .avt-chat {
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.chat-header .avt-chat img {
    width: 100%;
    height: auto;
}

.info-user {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-info {
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

#chat-shop {
    height: calc(100vh - 60px);
    overflow: hidden;
}
.chat-left {
    text-align: left;
    display: flex;
    justify-content: flex-start;
}
.actions-head .noti {
    font-size: 18px;
    color: #fff;
    margin-right: 25px;
}

.chat-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.list-sms__item .sms {
    width: fit-content;
}

.list-sms__item .sms .content {
    margin-bottom: 0;
    line-height: 15px;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 500;
}

.list-sms__item .sms {
    padding: 5px;
}

.chat-left .sms .content {background: whitesmoke;}

.chat-right .sms .content {
    background: #c6ddf8;
}
.chat-cart {
    position: relative;
    height: calc(100% - 70px);
}
.mess-chat {
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 43px;
    background: #fff;
    z-index: 9;
}

.mess-chat .select-image {
    width: 45px;
    opacity: 0;
}

.mess-chat .icon i {
    font-size: 22px;
}
.footer a, .footer p {
    padding: 0;
}
.block-quote {
    background: #ebebeb;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
}
.footer-bottom {
    border-top: 1px solid #ccc;
}
.phone-footer {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    color: #0d66b6;
}

.block-quote i.fas.fa-quote-left {
    color: #0d66b6;
}
.mess-chat .select-file {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.select-file .icon {
    position: absolute;
    margin-top: 4px;
    color: #155e9d;
}

.send-mess {
    width: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: #155e9d;
}

.mess-chat .input-chat {
    flex: 1;
    border: none;
    padding-left: 2px;
}
.mess-chat .input-chat:focus {
    border: none;
    padding-left: 2px;
}

.send-mess:hover {
    background: whitesmoke;
}

.select-file:hover {
    background: whitesmoke;
}
.chat-side-left {
    border-right: 1px solid #ccc;
}
.chart-search__input {
    position: relative;
}

.chart-search__input .icon {
    position: absolute;
    top: 5px;
    left: 7px;
    color: #bebaba;
}

.chart-search__input input {
    padding-left: 25px !important;
    border-radius: 2px;
    background: whitesmoke;
}
.cart-box-head h5 {
    margin: 0;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
}

.cart-box-head h5 span {
    padding-left: 6px;
}
.chat-cart .button{
}
.chat-cart .cart-box-head{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 5px 0;
}
.cart-box-head{
    border-bottom: 2px solid #2682d2;
}
.cart-box-head h5 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.cart-box-head h5 span {
    padding-left: 6px;
}

.chat-side-left .chat-box {
    height: 100%;
    position: relative;
}

.chat-side-left .chat-box .list-sms {
    height: calc(100% - 43px);
}
.scroll-custom{
    overflow-y: scroll;
}

.scroll-custom::-webkit-scrollbar-track,
.scroll-custom::-webkit-scrollbar,
.scroll-custom::-webkit-scrollbar-thumb{
    width: 6px;
    opacity: 0;
}

.scroll-custom:hover::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    opacity: 1;
}

.scroll-custom:hover::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
    opacity: 1;
}

.scroll-custom:hover::-webkit-scrollbar-thumb
{
    background-color: #6f6f6f;
    border-radius: 5px;
    opacity: 1;
}
.scroll-custom-x{
    overflow-x: scroll;
}

.scroll-custom-x::-webkit-scrollbar-track,
.scroll-custom-x::-webkit-scrollbar,
.scroll-custom-x::-webkit-scrollbar-thumb{
    height: 6px;
    opacity: 0;
}

.scroll-custom-x:hover::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    opacity: 1;
}

.scroll-custom-x:hover::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
    opacity: 1;
}

.scroll-custom-x:hover::-webkit-scrollbar-thumb
{
    background-color: #6f6f6f;
    border-radius: 5px;
    opacity: 1;
}
.chat-search {
    height: 75px;
    padding: 0 5px;
}

.chat-list-user {
    height: calc(100% - 105px);
    overflow-y: scroll;
}
.cart-info {
    display: flex;
    line-height: 17px;
    font-weight: 500;
    text-align: left;
    align-items: center;
    padding: 5px;
}

.cart-info img {
    width: 60px;
    height: auto;
}

.cart-info span {
    padding-left: 8px;
    font-size: 12px;
}

.input-cart-tbl {
    width: 110px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.tbl-cart td {
    text-align: center;
}

.tbl-cart th {
    padding: 6px;
    background: #c6ddf8;
}
.cart-list {
    padding: 10px;
    height: calc(100% - 40px);
}
.tbl-cart{
    background-color: #fff;
    overflow-x: scroll;
}
.input-cart-tbl:focus {
    outline: none;
}
.tbl-cart table {
    min-width: 650px;
}
.cart-box {
    background: whitesmoke;
}
.show-image-select {
    position: absolute;
    width: 100%;
    bottom: 42px;
    z-index: 10;
    border-top: 1px solid #c6c6c6;
    overflow: hidden;
    background: #fff;
    display: flex;
}

.list-sms__item {
    margin-bottom: 10px;
}

.show-image-select .img-item {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
    position: relative;
}
.show-image-select .img-item .close-img{
    position: absolute;
    right: 0;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.cart-bottom {
    height: 195px;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    padding: 0 10px;
}

.cart-list {
    position: relative;
}

.tbl-cart {
    height: calc(100% - 195px);
}
.show-image-select .img-item img {
    width: 100%;
    height: auto;
}
.list-mess-wrapper {
    height: 100%;
    padding-bottom: 50px;
}
.cart-calculator {
    background: #fff;
    padding: 6px;
}

.cart-bottom-footer {
    background: #fff;
    margin-top: 5px;
    padding: 6px;
}
.cart-calculator__item {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.cart-calculator__item strong {
    font-weight: bold;
    font-size: 16px;
}
.new-label {
    border-color: #4CAF50 !important;
    color: #4CAF50 !important;
    background-color: transparent !important;
}

.sale-label {
    width: auto !important;
    padding-left: 5px;
    padding-right: 5px;
    color: #d12631;
}
.slash {
    margin: 0 4px;
    color: rgba(255,255,255,.22);
}
.actions-head > div {
    float: inherit !important;
    position: inherit;
}

.actions-head {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

.toplinks .link{
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
}
.header-top {
    height: 28px;
}
.actions-head .profile a {
    display: flex;
    font-weight: bold;
    color: #fff;
}

.actions-head .profile a img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    transform: translateY(3px);
}

.actions-head a {
    font-size: 12px;
}
.mini-cart .basket a i {
    font-size: 15px !important;
}
header #nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header .icon-cart:before {
    font-size: 25px;
}

.cart-header #cart-total {
    right: 4px;
}
.item .col-item .images-container {
    position: relative;
    padding-top: 90%;
    margin-bottom: 10px;
}

.item .col-item .images-container > .product-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .col-item .images-container > .product-image img {
    max-width: 100%;
    max-height: 100%;
    width: 100%
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.qc-thuoc {
    height: 100%;
    padding-top: 15px;
    max-height: 555px;
    overflow: hidden;
}

.qc-thuoc img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}
section.slider-main .owl-controls {
    display: block !important;
}

section.slider-main .slider-items {}


.slider-items-products .owl-buttons .owl-prev {
    left: -15px;
}

.slider-items-products .owl-next {
    right: -15px !important;
}

.slider-items-products .owl-next, .slider-items-products .owl-prev {
    top: 50% !important;
    z-index: 99999;
}

.slider-items-products .owl-next a, .slider-items-products .owl-prev a {
    box-shadow: 0 0px 5px 0 rgba(0,0,0,.2);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    opacity: .5;
    transition: .2s ease-out;
}

.slider-items-products:hover .owl-buttons a {
    opacity: 1;
}
.brand-logo .owl-item img {
    width: 100%;
    height: auto;
}
.list-products {
    display: flex;
    flex-wrap: wrap;
}

.list-products .item {
    width: calc(100% / 5);
    padding: 0 6px;
}
.breadcrumbs li strong {
    color: #2c87d8;
}
#tbl-cart-price tr {
    border-bottom: 1px solid #ccc;
}
.header-shop__logo {
    height: 60px;
    display: flex;
    align-items: center;
}

.header-shop .actions-head {
    height: 60px;
}

.header-shop .actions-head .profile {
    display: flex;
    align-items: center;
}

.header-shop .actions-head .profile span {
    font-size: 14px;
}

.header-shop .actions-head .profile i {
    font-size: 16px;
}
.header-shop__logo .title-chat {
    font-size: 18px;
    color: #fff;
    margin-top: 23px;
    margin-left: 10px;
}

.header-shop__logo .slash {
    font-size: 20px;
    transform: translate(6px, 5px);
    color: #ffffffb0;
}
.slide-md-6 .item {
    width: calc(100% / 6);
}
.slide-md-5 .item {
    width: calc(100% / 5);
}
div#vote-customer {
    display: flex;
}

.star-vote {
    width: calc(100% / 3);
}

.cmt-vote {
    flex: 1;
}
.c-rating-star {
    list-style-type: none;
    padding: 0;

    -moz-user-select:none;
    -webkit-user-select:none;
}

.c-rating-star__item {
    display: inline-block;
}

/* Idle State of the stars */
.c-rating-star__icon {
    font-size: 36px; /* Change the size of the stars */
    color: #ccc; /* Color on idle state */
}

/* Hover state of the stars */
.c-rating-star__item.is-hover > .c-rating-star__icon{
    color: #ffcc36;
}

/* Selected state of the stars */
.c-rating-star__item.is-selected > .c-rating-star__icon {
    color: #ff912c;
}

.u-text-center {
    text-align: center;
}
.ratio-vote h2 {
    font-weight: bold;
    margin: 0;
}

.ratio-vote {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.ratio-vote span {
    color: #a2a2a2;
}

.star-vote {
    padding: 10px;
}
.wrapper-chat {
    display: flex;
}

.col-chat-user {
    width: calc(100% / 7);
}

.col-chat-info {
    flex: 1;
}
.carousel-wrap-product {
    overflow: hidden;
    width: 100%;
    margin-top: 8px;
    position: relative;
}

.carousel-image-active {
    width: 100%;
    padding-top: 80%;
}

.owl-carousel__product-detail .owl-item .item img {
    width: 100%;
}

.owl-carousel__product-detail .owl-item .item {
    padding-top: 10px;
    margin: 0;
    cursor: pointer;
}
.product-view .product-name h1 {
    font-size: 24px;
    color: #2682d2;
}
.product-essential {
    background: #fff;
    padding-top: 10px;
}
.owl-carousel__product-detail .owl-controls .owl-page span {
    margin: 0 2px;
    width: 8px;
    height: 8px;
}
.carousel-wrap-product .owl-wrapper-outer {
    height: 90px;
    border-top: 1px solid #e5e5e5;
}

.carousel-wrap-product .owl-wrapper-outer .owl-wrapper {
    height: 100%;
    overflow: hidden;
}
.carousel-wrap-product .owl-wrapper-outer .owl-wrapper .owl-item {
    max-height: 100%;
}
.carousel-image-active {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
}
.qty-product {
    display: flex;
    margin: 15px 0;
}

.qty-product .custom button {
    width: 25px;
    height: 100%;
    margin: 0 !important;
    padding: 0;
    background: transparent;
    border: none;
}
.qty-product .custom {
    height: 30px;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    border: 1.5px solid #ccc;
    margin-left: 10px;
}
.add-to-box .add-to-cart .qty {
    height: 100%;
    margin: 0;
    border: none;
    border-left: 1px solid #ccc !important;
    border-radius: 0;
    border-right: 1px solid #ccc !important;
    color: #676767;
    font-weight: 500;
}
.card-shop {
    background: #fff;
    padding: 8px;
}

.shop--avatar {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: auto;
}

.shop--avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.action-cart {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}

.action-cart .button {
    margin-left: 0 !important;
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.shop--description {
    text-align: center;
}

.shop--description p {
    font-size: 13px;
    line-height: 15px;
    color: #9b9b9b;
}

.shop--description > span {
    font-size: 16px;
}
.shop--description .ng-scope {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}

.shop--description .ng-scope a {
    padding: 5px;
    font-size: 13px;
    border: 1px solid #2682d2;
    border-radius: 3px;
    display: block;
    transition: .3s;
}

.shop--description .ng-scope li {
    width: 49%;
}

.shop--description a.img_mess {
    background: #ecf2f6;
}
.shop--ls_content {
    padding: 15px 0;
}
.shop--description .ng-scope a i {
    color: #2682d2;
}
.info-content {
    display: flex;
    justify-content: space-between;
}
.shop--description .ng-scope a:hover {
    color: #2b86d7;
}
.shop--content {
    padding-top: 12px;
}
.commentlist li .comment-wrapper {
    border-bottom: 1px solid #ededed !important;
}
.select-custom:focus {
    padding: 5px !important;
}
.img-cart {
    width: 80px;
}

.img-cart img {
    width: 100%;
}

.item-cart {
    display: flex;
}

.custom-cart .custom {
    height: 26px;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #ccc;
}

.custom-cart .custom button {
    height: 100%;
    margin: 0 !important;
    padding: 0 10px;
    border: none;
    background: #fff !important;
}

.custom-cart .custom input {
    height: 100%;
    width: 55px;
    border: none;
    text-align: center;
    background: transparent;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.content-cart {
    padding: 5px 10px;
    flex: 1;
}
.custom-cart {
    display: flex;
    justify-content: space-between;
}

.item-cart .check {
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.shopping-cart {
    background: #fff;
}

.page-title h4 {
    font-size: 14px;
    padding: 0 15px !important;
}
.page-title h4 input[type=checkbox]{
    margin-right: 10px;
}
.name-cart {
    font-weight: 500;
    margin-bottom: 6px;
}
.action-remove {
    display: flex;
    width: 40px;
    align-items: center;
}

.action-remove .button {
    border: none;
}

.action-remove .button:hover {
    color: red;
    background: transparent;
}
ul.list-cart-shopping li {
    border-bottom: 1px solid #f6f6f6;
    padding: 6px 0;
}

.shopping-cart .page-title {
    border-bottom: 1px solid #f6f6f6;
}
.cart-footer {
    padding: 5px 15px;
}
.radio-pt input {
    margin: 0 !important;
    margin-top: 6px !important;
}

.radio-pt label {
    padding-left: 16px;
}

.radio-pt {margin-left: 13px;}

.cart-footer .radio {
    display: flex;
}
.chat-active {
    width: 8px;
    height: 8px;
    background: #30ea19;
    display: inline-block;
    border-radius: 50%;
}
.border-delivery {
    height: 2px;
    width: 100%;
    background-size: 7.25rem .1875rem;
    background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
}
.checkout-address textarea {
    width: 100%;
}

.info-checkout {
    padding: 5px 10px;
}
.text-warning {
    color: #f69d04;
}
.modal-open .modal{
    background-color: #0000006b;
}
.from-info-order label {
    display: block;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
}

.from-info-order .input-text {
    width: 100%;
    padding: 5px;
    border-radius: 2px;
}

.from-info-order .input-text:focus {
    padding: 5px;
}
.title-total {
    font-size: 15px;
    padding: 3px 0;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}
.bg-warning{
    background-color: #f69d04;
}
.sec-profile .page-title h4{
    padding-left: 0 !important;
}
.rates__items .num {
    line-height: 12px;
    font-size: 12px;
    width: 30px;
}

.rate-range {
    flex: 1;
    height: 12px;
    margin: 0 5px;
    background: #cccccc;
}

.rate-range .active {
    background: #ffcc2d;
    height: 100%;
}

.rates__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}
.star-vote .rate-all .rating-box {
    transform: scale(2);
    margin: 10px auto;
}
.text-danger {
    color: #f23534 !important;
}
.active .text-danger {
    color: #ffff !important;
}
.type-order {
    color: #f23534;
    text-transform: uppercase;
    font-weight: 500;
}
.order-me .item-cart {
    padding-left: 10px;
}
.total-order {
    font-weight: 500;
    display: flex;
    align-items: center;
}

.total-order strong {
    color: #f23534;
    margin-left: 6px;
    font-size: 15px;
    font-weight: bold;
}
.deal-shop {
    background: #2682d2 !important;
    color: #fff !important;
    padding: 4px;
    border-radius: 3px;
    font-size: 12px;
}

.order-me .page-title h4 {
    padding-bottom: 3px !important;
    color: #515151;
}
.order-me .page-title h4 i {
    font-size: 12px;
}
.sidebar-profile {
    background: #fff;
    padding: 0;
}

.block-company li:before {
    display: none;
}

.block-list-profile .item a i {
    font-size: 18px;
    width: 20px;
}
.shopping-cart .cart-footer .button {
    border: 1px solid #2682d2;
    color: #2682d2;
    padding: 3px 10px;
    font-size: 13px;
    display: inline-block;
}
.shopping-cart .cart-footer .button:hover{
    color: #fff;
}
section.main-container {
    padding-top: 25px;
    padding-bottom: 25px;
}
.stepper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
}

.stepper .step-item {display: flex;flex-direction: column;align-items: center;text-align: center;width: calc(100% / 5);background: #fff;}

.stepper .step-item .step-item-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 50px;
    color: #116bbb;
    border: 2px solid #116bbb;
    margin-bottom: 7px;
    font-size: 16px;
    position: relative;
    z-index: 10;
}

.step-item-content .title {
    margin-bottom: 0;
    line-height: 12px;
    font-weight: 500;
}

.order-detail {
    background: #fff;
}

.order-detail-head {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 8px;
}

.order-detail-head p {
    margin: 0;
}

.stepper-range {
    position: absolute;
    height: 3.5px;
    top: 25px;
    left: 0;
    background: #e1e1e1;
    z-index: 1;
    z-index: 9;
}
.stepper-range .stepper-active{
    background: #116bbb;
    height: 100%;
}
a {
    cursor: pointer;
}
.step-waiting .stepper-active {
    width: 0;
}

.step-confirmed .stepper-active {
    width: calc(100% / 4);
}

.step-shipping .stepper-active {
    width: calc((100% / 4) * 2);
}

.step-shipped .stepper-active {
    width: calc((100% / 4) * 3);
}

.step-rate .stepper-active {
    width: 100%;
}

.step-confirmed .step-item--waiting .step-item-icon,
.step-shipping .step-item--confirmed .step-item-icon,
.step-shipping .step-item--waiting .step-item-icon,
.step-shipped .step-item--waiting .step-item-icon,
.step-shipped .step-item--confirmed .step-item-icon,
.step-shipped .step-item--shipping .step-item-icon,
.step-rate .step-item--confirmed .step-item-icon,
.step-rate .step-item--waiting .step-item-icon,
.step-rate .step-item--shipping .step-item-icon,
.step-rate .step-item--shipped .step-item-icon {
    color: #248deb;
    border-color: #248deb;
}

.step-waiting .step-item--waiting .step-item-icon,
.step-confirmed .step-item--confirmed .step-item-icon,
.step-shipping .step-item--shipping .step-item-icon,
.step-shipped .step-item--shipped .step-item-icon,
.step-rate .step-item--rate .step-item-icon {
    background: #248deb;
    border-color: #248deb;
    color: #fff;
}

/*start - custom cart profile*/
.content-cart {
    display: flex;
}

.name-order-cart {
    width: 50%;
}

.quantity-cart {
    width: 25%;
}

.total-cart {
    width: 25%;
    align-items: flex-end !important;
}

.quantity-cart p {
    font-weight: 500;
}

.total-cart p {
    font-weight: 500;
}
.content-cart-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.content-cart-item .old-price {
    margin: 0 !important;
}
.active .content-cart .text-danger {
    color: #f23534 !important;
}
/*end - custom cart profile*/
.product-buy__count {
    font-size: 12px;
    display: block;
    width: 100%;
    text-align: right;
    color: #555;
}
.product-buy__count i {
    margin-left: 2px;
}
input {
    border-radius: 3px;
}
.button.login {
    background: #ffbd2c;
    color: #fff;
    border-radius: 3px;
    display: block;
    width: 100%;
    font-size: 17px;
    border: none;
}

.button.login:hover {opacity: .8;}

.buttons-set__bottom {
    display: flex;
    justify-content: space-between;
}

.buttons-set__bottom a {
    margin: 0;
    color: #05a !important;
}
.button{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.bg-warning:hover {
    background: #f69d04;
    opacity: .8;
}
.title-login {
    font-size: 20px !important;
}
.review-txt{
    line-height: 20px;
}
.actions-cmt .feedback {
    text-transform: uppercase;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
}
.reply textarea {
    border-radius: 0;
    background: #fff;
    height: 35px;
    border: none;
    resize: none;
    border-bottom: 1px solid #ccc;
    padding: 3px;
}

.reply textarea::-webkit-scrollbar {
    display: none;
}

.reply textarea:focus {
    border-color: #000;
}
.reply-action {
    text-align: right;
    padding: 0 28px;
}

.reply-action .btn-rep {
    background: #2189e4;
    border: none;
    padding: 2px 15px;
    border-radius: 3px;
    color: #fff;
}
.cart-shopping__main .content-cart {
    display: block !important;
}
/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#ffcc2d;
}
.rate-all .rating-stars ul > li.star > i.fa {
    font-size: 20px;
}
.rating-user ul > li.star > i {
    font-size: 12px !important;
}
.review-shop ul li{
    margin-bottom: 12px;
}
.cmt-reply .cmt-img-user {
    width: 40px;
    height: 40px;
}
ul.cmt-reply {
    margin-top: 14px !important;
}
.tabs-profile-cart {
    height: 45px;
}

.tabs-profile-cart > li {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.sidebar-profile .block-img {
    padding: 15px 8px;
}

.sidebar-profile .block.block-company {
    padding: 0;
}

.sidebar-profile #recently-viewed-items {
    margin: 0;
}

.sidebar-profile .item.active {
    background: whitesmoke;
}

.sidebar-profile .item:hover {
    background: whitesmoke;
}
.result-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px 0;
    margin-bottom: 16px;
}

.result-count .title {
    margin: 0;
    color: #555;
    text-transform: capitalize;
}
.result-count strong {
    font-weight: bold;
    font-size: 16px;
}
