@media (max-width: 968px) {
    *{}
    .list-products{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 768px) {
    *{}
    .sticky .logo-small {display: none !important;}

    .header-middle {
        height: 143px;
    }

    .sticky #mobile-menu ul.navmenu .menutop {
        margin: 0;
    }
    .actions-head > div {
        margin: 0 !important;
    }

    .actions-head {padding: 5px 0;}

    .header .logo {
        width: 100%;
    }

    .logo-lg {
        width: 150px;
    }

    #main-categories .list-cate {
        flex-wrap: wrap;
    }


    .header.header-middle > .row {
        flex-wrap: wrap;
    }

    .h-sm-auto {
        height: auto !important;
    }

    ul.nav.nav-tabs.product-tabs.tab-shop {
        display: flex;
    }

    ul.nav.nav-tabs.product-tabs.tab-shop li {
        display: block !important;
    }
}
@media (min-width: 557px) {
    .pl-sm-0{
        padding-left: 0!important;
    }
}
@media (max-width: 556px) {
    *{}
    .notification-view{
        display: none;
    }
    .list-cate {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 6px;
    }

    #main-categories .col-item img {
        width: 55px;
        height: 55px;
    }

    .list-products{
        grid-template-columns: repeat(3, 1fr);
    }
    #main-categories .item-title a {
        font-size: 12px !important;
    }
    #main-categories .item-title a {
        font-size: 12px !important;
    }

    .title-cate {
        padding: 6px !important;
        font-size: 14px;
    }
}